.navBarUl {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  background-color: #333;
  padding-bottom: 0.6%;
}

.navBarLi {
  float: left;
}

.navBarLi a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarLi a:hover {
  background-color: #111 !important;
}

.dropdown-menu li {
  float: left;
}

.dropdown-menu li a {
  display: block;
  color: #111;
  background-color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #111;
  color: white;
}

.btn-logout {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #c9302c;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0.3%;
}

.form-select {
  height: 100% !important;
  color:rgba(0, 0, 0, 0.6) !important;
  line-height: 2.4375em !important;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease !important;
}

.form-select:hover {
  border-color: #000000; /* Altere para a cor desejada */
}

.form-select:focus {
  border-color: blue !important;
}

.card{
  overflow: visible !important;
  display: block !important;
}

/* Adicione essas regras no Menu.css para ajustar o estilo do Select do MUI */
.MuiMenuItem-root {
  float: none !important;
  display: block !important; /* Garante que o item do menu seja exibido como um bloco */
}

.MuiMenu-paper {
  display: block !important; /* Garante que o menu seja exibido como um bloco */
}

.table th, .table td {
  text-align: center;
  vertical-align: middle; /* Para centralizar verticalmente */
}

/* Style the profile icon */
.profile-icon {
  font-family: 'Font Awesome 5 Free'; /* Adicione a fonte do FontAwesome se ainda não estiver incluída */
  margin-right: 8px; /* Adjust spacing between icon and text */
}

.navBarLi.login-button {
  float: right;
}

.navBarLi.login-button button {
  margin: 8px 16px;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.navBarLi.login-button button:hover {
  background-color: white;
  color: #333;
}

.navBarUl::after {
  content: "";
  display: table;
  clear: both;
}
